body {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.main {
    max-height: 100dvh;
    height: 85dvh;
}

#about {
    color: var(--text);
    margin: 10px 50px;
}

.about-content {
    margin: 0;
    padding: 10px;
}

#about img {
    float: left;
    /* flex-wrap: wrap-reverse; */
    height: 200px;
    width: 200px;
    border-radius: 20px;
    margin: 10px 20px 10px 10px;
}
.blurred {
    filter: blur(5px); /* Adjust the value to increase or decrease the blur */
}

/* Optional: To prevent selection revealing text */
.blurred::selection {
    background: transparent;
}

@media screen and (max-width: 768px) {
    #about {
        margin: 0;
    }
    #about img {
        border-radius: 10px;
        margin: 10px 20px 10px 10px;
    }
    .about-content {
        margin: 0;
        padding: 0;
    }
}