:root {
    --color-bg: white;
    --text: black;
    --udl: #555555;
    --tooltip: #0C0C0C;
    --tooltext: white;
    --border: #b4b4b4;
    --footer: #31363F;
    --svg: #424242;
    --hover: #44444420;
}
:root[data-mode="dark"] {
    --color-bg: #121113;
    --text: white;
    --udl: #e6e6e9;
    --footer: #1e1e24;
    --svg: #eeeeee;
    --hover: #2f2f2f;
}

body {
    background: var(--color-bg);
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    place-items: center;
    padding: 5px 10px;
}
.navbar-brand {
    color: var(--text);
    font-family: 'Playwrite AR', sans-serif;
    font-weight: 400;
    text-decoration: none;
}
.tg svg {
    color: var(--svg);
}
.tg {
    cursor: pointer;
    padding: 3.5px 3px;
    border-radius: 10px;
    margin: 0;
    display: flex;
    place-items: center end;
}
.tg:hover {
    background: var(--hover);
}
.nav-links {
    margin-inline: auto;
    display: flex;
    align-self: flex-start;
}
header .nav-links .nav-link {
    color: var(--text);
    margin: 5px 10px;
    padding: 2px 5px;
    position: relative;
    text-decoration: none;
}

.nav-links .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--udl);
    transition: width 300ms ease-in-out;
}

.nav-links .nav-link:hover::after {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links .nav-link.active::after {
    width: 100%;
    left: 0;
    transform: none;
}

.nav-link.dropdown-toggle::after {
    display: none;
}

.hero-section {
    position: relative;
    width: 100%;
    height: 83dvh;
    /* background: url('background-image.jpg') no-repeat center center/cover; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
}

.hero-section h2 {
    color: var(--text);
    font-family: 'Playwrite AR', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    margin: 0;
}

.hero-section h3 {
    color: var(--text);
    font-size: 1.5rem;
    margin: 25px 0 10px 0;
}
.bt {
    margin: 0 0 20px 0;
}
.hero-section p {
    color: var(--text);
    font-size: 1.5rem;
    margin: 15px 0 10px 0;
}




@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 3rem;
    }

    .hero-section p {
        font-size: 1.2rem;
    }
}



.dropdown-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #555555;
    transition: width 400ms ease-in-out;
}

.dropdown-item:hover::after {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-item.active::after {
    width: 100%;
    left: 0;
    transform: none;
}

.dropdown-item:active {
    color: black;
}

.button {
    text-align: center;
    font-variant-caps: small-caps;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 3px;
    background-color: #B692C2;
    border: none;
    color: #fff;
    padding: 10px;
    width: fit-content;
    text-align: center;
    transition-duration: 300ms;
    box-shadow: 0 0px 5px #8E7AB5;
    border-radius: 4px;
}

.button:hover {
    background: #fff;
    box-shadow: 0px 2px 10px 5px #987D9A;
    color: #000;
}

/* .button:after {
    content: "";
    background: #B692C2;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px ;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
} */

.button:focus {
    outline: 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background: #B692C2;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 50px 20px;
}

main {

    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
}

#preloader {
    position: fixed;
    inset: 0;
    z-index: 999999;
    overflow: hidden;
    background: var(--background-color);
    transition: all 0.6s ease-out;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #ffffff;
    border-color: var(--accent-color) transparent var(--accent-color) transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.footer a:link {
    color: #D8D9CF;
    text-decoration: none;
}

.footer a:hover {
    color: #D58BDD;
    text-decoration: underline;
}

.footer {
    position: relative;
    background-color: var(--footer);
    text-align: center;
    /* center text */
    padding: 5px 0;
    /* add top and bottom padding */
}

.footer p {
    display: inline-block;
    color: #D8D9CF;
    /* make links inline-block to center them */
    margin: 0 10px;
    /* add horizontal margin to links */
}

@media (max-width: 425px) {
    img {
        border-radius: 25%;
        margin-right: 20px;
        width: 150px;
    }
}

@media (max-width: 768px) {
    .nav-links {
        margin-left: auto;
    }

    .dropdown-menu {
        box-sizing: content-box;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
    }

    .svg-container {
        display: block;
    }

}
.tippy-box[data-theme~='custom'] {
    background-color: var(--tooltip);
    color: var(--tooltext);
    font-size: 16px;
    border-radius: 8px;
    padding: 2px;
    box-shadow: var(--border) 0px 0px 0px 0.25px;
    }
  .tippy-box[data-theme~='custom'] .tippy-arrow {
    color: var(--tooltip);  /* Arrow color matches the tooltip background */
}
