/* General Styles */
body {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #6667ab;
    color: whitesmoke;
    font-family: 'Rajdhani';
    font-weight: 600;
    text-align: center;
}

.nav-item .nav-link {
    margin: 5px;
    position: relative;
    text-decoration: none;
}

.nav-item .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #555555;
    transition: width 400ms ease-in-out;
}

.nav-item .nav-link:hover::after {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.nav-item .nav-link.active::after {
    width: 100%;
    left: 0;
    transform: none;
}

.nav-link.dropdown-toggle::after {
    display: none;
}


.navbar-brand {
    font-family: 'Playwrite AR', sans-serif;
    font-weight: 400;
}

header h1{
    font-family: 'Playwrite AR', sans-serif;
    font-weight: 400;
}

header p{
    padding-top: 35px;
    font-family: 'Playwrite AR', sans-serif;
    font-weight: 50;
}

.hero {
    margin-top: 50px;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
}

.hero p {
    font-size: 1.5em;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background: #B692C2;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 50px 20px;
}

#about .about-content {
    display: flex;
    align-items: center;
}

#about img {
    border-radius: 50%;
    margin-right: 20px;
    width: 150px;
}

.skills-content .skill {
    margin-bottom: 20px;
}

.progress-bar {
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 10px;
    background: #00f;
}

.projects-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    width: calc(33.333% - 40px);
}

.project a {
    color: #00f;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
}

form label, form input, form textarea {
    margin-bottom: 10px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background: #00f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    margin-right: 10px;
    text-decoration: none;
    color: #00f;
}

.footer a:link {
    color: #D8D9CF;
}

.footer a:hover {
    color: #D58BDD;
    text-decoration: none;
}

.footer {
    background-color: #555555;
    padding: px;
    color: #D8D9CF;
    justify-content: center;
    align-items: flex-start;
    margin-top: auto;
    display: flex;
    position: relative;
}
