:root {
    --color-bg: #fffafa;
    --text: black;
    --udl: #555555;
    --tooltip: #0C0C0C;
    --tooltext: white;
    --border: #b4b4b4;
    --footer: #31363F;
    --svg: #424242;
    --hover: #44444420;
}
:root[data-mode="dark"] {
    --color-bg: #28272c;
    --text: white;
    --udl: #e6e6e9;
    --footer: #28272c;
    --svg: #eeeeee;
    --hover: #2f2f2f;
}

body {
    background: var(--color-bg);
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    place-items: center;
    padding: 5px 10px;
}
.navbar-brand {
    color: var(--text);
    font-family: 'Playwrite AR', sans-serif;
    font-weight: 400;
    text-decoration: none;
}
.tg svg {
    color: var(--svg);
    height: 24px;
    width: 24px;
}
.tg {
    cursor: pointer;
    padding: 3.5px 3px;
    border-radius: 10px;
    margin: 0;
    display: flex;
    place-items: center end;
}
.tg:hover {
    background: var(--hover);
}
.nav-links {
    margin-inline: auto;
    display: flex;
    align-self: flex-start;
}
header .nav-links .nav-link {
    color: var(--text);
    margin: 5px 10px;
    padding: 4px 5px;
    position: relative;
    text-decoration: none;
}

.nav-links .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--udl);
    transition: width 300ms ease-in-out;
}

.nav-links .nav-link:hover::after {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links .nav-link.active::after {
    width: 100%;
    left: 0;
    transform: none;
}

.nav-link.dropdown-toggle::after {
    display: none;
}
.main {
    height: 85dvh;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loading {
    background: #cbc0d3;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    display: flex;  
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 50px;
    margin: 10px;
}
.loading p {
    margin: 0 10px 0 0;
    color: var(--text);
}
.footer a:link {
    color: #D8D9CF;
    text-decoration: none;
}
.footer a:visited {
    color: #D8D9CF;
}
.footer a:hover {
    color: #D58BDD;
    text-decoration: underline;
}

.footer {
    position: relative;
    background-color: var(--footer);
    text-align: center;
    /* center text */
    padding: 5px 0;
    /* add top and bottom padding */
}

.footer p {
    display: inline-block;
    color: #D8D9CF;
    /* make links inline-block to center them */
    margin: 0 10px;
    /* add horizontal margin to links */
}


@media screen and (max-width: 768px) {
    .navbar {
        font-size: 12px;
    }
    .nav-link {
        font-size: 10px;
    }
    .tg svg {
        height: 20px;
        width: 20px;
    }
    .main {
        height: 600px;
    }
    .hero-section h2 {
        font-size: 2rem;
    }
    .hero-section h3 {
        font-size: 1rem;
    }
    .hero-section p {
        font-size: 0.8rem;
    }
    .button {
        font-size: 0.5rem;
        height: fit-content;
        width: 100px;
    }
    .footer {
        height: 30px;
    }
    .footer p {
        font-size: 0.8rem;
    }
}
.tippy-box[data-theme~='custom'] {
    background-color: var(--tooltip);
    color: var(--tooltext);
    font-size: 16px;
    border-radius: 8px;
    padding: 2px;
    box-shadow: var(--border) 0px 0px 0px 0.25px;
    }
  .tippy-box[data-theme~='custom'] .tippy-arrow {
    color: var(--tooltip);  /* Arrow color matches the tooltip background */
}

.loader {
    position: relative;
    width: 108px;
    display: flex;
    justify-content: space-between;
  }
  .loader::after , .loader::before  {
    content: '';
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: #fffff0;
    background-image:  radial-gradient(circle 14px, #0d161b 100%, transparent 0);
    background-repeat: no-repeat;
    border-radius: 50%;
    animation: eyeMove 10s infinite , blink 10s infinite;
  }
  @keyframes eyeMove {
    0%  , 10% {     background-position: 0px 0px}
    13%  , 40% {     background-position: -15px 0px}
    43%  , 70% {     background-position: 15px 0px}
    73%  , 90% {     background-position: 0px 15px}
    93%  , 100% {     background-position: 0px 0px}
  }
  @keyframes blink {
    0%  , 10% , 12% , 20%, 22%, 40%, 42% , 60%, 62%,  70%, 72% , 90%, 92%, 98% , 100%
    { height: 48px}
    11% , 21% ,41% , 61% , 71% , 91% , 99%
    { height: 18px}
  }